* body {
  margin: 0;
  border: 0;
  overflow: hidden;
}
/*
::-webkit-scrollbar {
    width: 6px;
    background: black;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background: #A47028;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #A47028;
}
*/

.body-container {
  position: relative;
  box-sizing: border-box;
  font-family: Impact;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #a47028;
  z-index: 1;
}

.nav-bar,
.pro-bar {
  width: 100vw;
  color: black;
  background: #a47028;
  height: 6%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 0;
}

.nav-bar {
  top: 0;
}

.pro-bar {
  bottom: 0;
}

.nav-bar li,
.pro-bar li {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  font-size: 18px;
  cursor: pointer;
}

.nav-bar li:hover,
.pro-bar li:hover {
  background: black;
  color: #a47028;
}

iframe {
  border: 0;
  margin: 0;
  width: 90%;
  height: 80%;
  border: 1px dashed #a47028;
}

iframe.comtemt {
  background-color: transparent;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 1000px) {
  .body-container {
    height: 100dvh;
  }

  iframe {
    width: 100%;
    height: 70%;
    overflow-y: scroll !important;
  }
}
