* body {
  margin: 0;
  border: 0;
  overflow: hidden;
  background-color: black;
}

title {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif impot !important;
  background:green;
}

/*
::-webkit-scrollbar {
    width: 6px;
    background: black;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background: #A47028;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #A47028;
}
*/

.body-container {
 /* background-image: url(media/lightning-giphy.gif);*/
  position: relative;
  box-sizing: border-box;
  font-family: Impact;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #A47028;
  ;
  z-index: 1;
}

.nav-bar, .pro-bar {
  width: 100vw;
  color: black;
  background: #A47028;
  height: 6%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
}

.nav-bar {
  top: 0;
  justify-content: space-evenly
  ;
}

.pro-bar {
  bottom: 0;
   justify-content: center;
}

.nav-bar li, .pro-bar li {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #a47028;
  z-index: 1;
}

.pro-bar li:nth-child(1) {
  background-image: url(images/github-logo.png);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center;
  transition:.5s;
}

.pro-bar li:nth-child(2) {
  background-image: url(images/linked-in-black.png);
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: center;
  transition:.5s;
}

.pro-bar li:nth-child(3) {
  background-image: url(images/codepen.png);
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: center;
  transition:.5s;
}

.pro-bar li:nth-child(1):hover {
  background-size:18%;
}
.pro-bar li:nth-child(2):hover,
.pro-bar li:nth-child(3):hover {
  background-size:16%;
}

.nav-bar {
  top: 0;
}

.pro-bar {
  bottom: 0;
}

.nav-bar li,
.pro-bar li {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  font-size: 18px;
  cursor: pointer;
  color:black;
  border: 1px transparent solid
}

.nav-bar li {
  width:25%;
}

.pro-bar li {
  width:15%;
}

.nav-bar li:hover {
  background: black;
  color: #A47028;
  border-bottom: #A47028 solid 1px;
}

iframe {
  border: 0;
  margin: 0;
  width: 90%;
  height: 80%;
  border: 1px dashed #a47028;
  z-index: 5;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 1000px) {
  .body-container {
    height: 100dvh;
  }

  iframe {
    width: 100%;
    height: 70%;
    height: 80%;
    overflow-y: scroll !important;
    border: 0;
  }
}


@media only screen and (max-width: 300px) {
  iframe {
    width:90%;
  }
}
