* body {
    margin: 0;
    border: 0;
  
    background: black;
}

::-webkit-scrollbar {
    width: 6px;
    background: black;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background: #A47028;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #A47028;
}

.body-container {
  position: relative;
  box-sizing: border-box;
  font-family: Impact;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  z-index: 1;
}

.nav-bar {
  width: 100vw;
  background:red;
  height:5%;
  position:absolute;
  top:0;;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar li{
  list-style: none;
}

iframe {
  border: 0;
  margin:0;
  width:90%;
  height:80%;
  border:1px dashed green;
}

.pro-bar {
  width: 100vw;
  background:blue;
  height:5%;
  position:absolute;
  bottom:0;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;

}

.pro-bar li{
  list-style: none;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

@media only screen and (max-width: 1000px) {

  .body-container {
    height:100dvh;
  }
  iframe {
    width:100%;
    height:50%;
    overflow-y: scroll;
  }


}


