::-webkit-scrollbar {
  width: 6px;
  background: black;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: #a47028;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a47028;
}

.about {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #a47028;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.intro-holder {
  width: 100%;
  height: 100%;
  margin: 2%;
  z-index: 1;
  position: relative;
}

.inner-about {
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.info-1, .info-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: .5px dashed;
  width: 25%;
  height: 80%;
}

.info-1 h2, .info-2 h2 {
  border: 1px solid #a47028;
  background-color: #a47028;
  width: 140px;
  height: 50px;
  display: grid;
  place-items: center;
  text-align: center;
  color: black;
  font-size:25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.info-1-inner, .info-2-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: auto;
  margin-right: 40px;
}

.info-1.ul,
.info-2.ul {
  width: 100;
  height: 40%;
  text-align: left;
}

.info-1-inner li, .info-2-inner li {
  font-size: 18px;
  width: 100%;
  text-shadow: .5px .5px black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.center-piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height:80%;
}

.bitmoji-pic {
  margin-top:20px;
  width: 300px;
  height: 300px;
  border: .5px dashed;
  overflow: hidden;
  position: relative;
}

.thank-message {
  position: absolute;
  top: 0;
  height: 300px;
  width: 300px;
  font-size: 35px;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1.5s;
}

.thank-message p {
  opacity: 0;
  transition: 1.5s;
  text-shadow: 1px 1px black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pic {
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -500px;
  transition: 1.5s;
}

.intro-statement {
  font-size:20px;
  text-shadow: 1px 1px black;
}

@media only screen and (max-width: 1000px) {
  .about {
    height: auto;
  }

  .inner-about {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .center-piece {
    position: unset;
    transform: none;
    margin: 2%;
  }

  .info-1, .info-2 {
    margin: 2%;
    border: .5px dashed;
    width: 90%;
    height: 80%;
    padding: 5px;
  }

  .info-1 h2, .info-2 h2 {
    width: 130px;
    height: 40px;
    margin-bottom:0;
    font-size: 20px;
  }

  .info-1-inner, .info-2-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    width:100%;
    margin-left:30px;
  }

  .info-1.ul,
  .info-2.ul {
    width: 100%;
    height: 40%;
    text-align: right;
    overflow: hidden;;
  }

  .info-1-inner li, .info-2-inner li {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height:45px;
    text-shadow: .5px .5px black;
    list-style: none;
    font-size:16px;
  }


  
  
}



@media only screen and (max-width: 800px) {
  .intro-statement {
    font-size: 14px;;
  }
}


@media only screen and (max-width: 600px) {
  .info-1-inner li, .info-2-inner li {
    font-size: 14px
  }
}
  
@media only screen and (max-width: 300px) {

  .center-piece {
    width:80%;
  }
  
  .bitmoji-pic {
    width:200px;
    height:200px;
  }
  
  .thank-message {
    width:200px;
    height:200px;
  }

  .pic {
    width: 200px !important;
  }
  
  .thank-message p {
    font-size:20px;
  }

  

  .info-1 h2, .info-2 h2 {
    width: 100px;
    height: 30px;
    font-size: 16px;
  }

    .intro-statement {
      font-size: 14px;;
      width:80%;
    }
    .info-1-inner li, .info-2-inner li {
      font-size: 11px
    }
}


