.credit-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    color: #A47028;
}

.credit-holder h3 {
    color: #A47028;
    width: 100%;
}

.credit-left, .credit-right {
    position: relative;
    display: grid;
    place-items: center;
    height: 70%;
    border: 1px dashed;
}

.credit-left {
    width: 60%;
    display: grid;
    place-items: center;
}

.credit-right {
    width: 35%;
}

.credit-left>h2, .credit-right>h2 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -15px;
    font-size: 35px;
}

.credit-right-holder, .credit-left-holder {
    display: grid;
    place-items: center;
    align-items: center;
    position: relative;
    padding:2%;
    margin-top:15%;

}

.credit-left-holder {
    height: 70%;
    width: 100%;
    margin-bottom:50px;
}

.credit-right-holder {
    height: 80%; 
}

.business {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 120px 1fr 1fr;
}

.jobs {
    font-size:20px;
}

.icons {
    border-radius: 50%;
    width: 50px;
    height:50px;
}

.skills {
    color: #A47028;
}

.skills>h3 {
    text-align: center;
    width: 100%;
}

.skills>p {
    text-align: center;
    font-size: 16px;
    padding: 2%;
}

@media only screen and (max-width: 1000px) {
    .credit-holder {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 5%;
        height:100%;
    }

    .credit-right, .credit-left {
        width: 100%;
        height: 100%;
        padding:1%;
        margin: 5% auto;
    }

    .credit-right-holder, .credit-left-holder {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .credit-left>h2, .credit-right>h2 {
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 26px;
    }

    .credit-left>p, .credit-right>p {
        font-size:18px;
    }

    .skills h3 {
        margin-bottom:-5px;
    }
}

@media only screen and (max-width: 600px) {
    .credit-left>h2, .credit-right>h2 {
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 20px;
    }

    .business {
        font-size: 14px;
    }

    .credit-left p, .credit-right p {
        font-size:14px;
    }
}