::-webkit-scrollbar {
  width: 6px;
  background: black;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: #a47028;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a47028;
}

.experience {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #a47028;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.experience h1 {
  text-align: center;
}

.experience-container {
  width: 100%;
  border: dashed 0.5px solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 80vh;
}

.work,
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
}

.work {
  width: 40%;
}

.skills {
  width: 50%;
}

.work h2,
.skills h2 {
  text-align: center;
}

.work-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: .5px dashed;
  height: 100%;
}

.companies {
  display: grid;
  place-items: center;
  width: 50%;
  margin: 2% auto;
  height: 35%;
}

.companies h3 {
  margin-top: 10px;
  font-size: 17px;
  text-align: center;
}

.companies h4 {
  margin-top: -10px;
  text-align: center;
  font-size: 14px;
}

.icon {
  position: relative;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: .5px solid;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.ny-1 {
  background-image: url("../media/ny1.jpg");
  background-size: 90%;
  background-color: #203265;
}

.meredith {
  background-image: url("../media/meredith.jpg");
  background-size: contain;
  background-color: white;
}

.adobe {
  background-image: url("../media/adobe.jpg");
  background-size: contain;
}

.seen-this {
  background-image: url("../media/SeenThis.jpeg");
  background-size: 90%;;
  background-color: white;
}

.skills-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.media-skills,
.web-skills {
  width: 40%;
  border: .5px dashed;
  height: fit-content;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.web-skills.div,
.media-skills.div {
  display: inline-block;
  text-align: center;
}

.web-skills h3,
.media-skills h3 {
  border: 1px solid #a47028;
  background-color: #a47028;
  width: 140px;
  height: 50px;
  padding: 8px;
  display: grid;
  place-items: center;
  text-align: center;
  color: black;
  height: 30px;
}

.media-list,
.web-list {
  margin-bottom: 5%;
  width: 50%;
  height: 200px;
  margin: 2% auto;
}

.web-list.ul,
.media-list.ul {
  width: 100;
  height: 100%;
  text-align: left;
}


.web-list li,
.media-list li {
  text-shadow: 1px 1px black;
  font-size: 17px;
}

.resume {
  margin: 0;
  cursor: pointer;
  display: grid;
  place-items: center;
  text-align: center;
  border: 1px solid transparent;
  width: 120px;
  height: 35px;
  text-shadow: 2px 2px black;
  ;
  font-size: 25px;
}

.resume:hover {
  border: 1px solid #a47028;
  background-color: transparent;
  display: grid;
  place-items: center;
  text-align: center;
}

@media only screen and (max-width: 1200px) {

  .web-list li,
  .media-list li {
    text-shadow: 1px 1px black;
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .experience-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: auto
  }

  .skills, .work {
    margin: 5% auto;
    width: 100%;
    height: auto
  }

  .work-inner {
    border: 0;
    flex-wrap: nowrap;
    width: 100%;
  }

  .companies {
    display: grid;
    place-items: center;
    width: 45%;
  }

  .companies h3 {
    font-size: 15px;
  }
  
  .companies h4 {
    font-size: 11px;
  }
}

@media only screen and (max-width: 600px) {
  .work-inner {
    flex-wrap: wrap;
    width: 100%;
  }

  .media-skills,
  .web-skills {
    width: 60%;
    border: 0;
  }
}