::-webkit-scrollbar {
  display:none;
  width: 6px;
  background: black;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: #a47028;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a47028;
}

.home {
  position: relative;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #a47028;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  opacity: 0;
  opacity:1;
}

.home-container {
  position: relative;
  width: 95%;
  border: dashed 0.5px solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 99.7vh;
  overflow: hidden;
}

.intro {
  width: 35%;
  color: #a47028;
}

.name {
  font-size: 1.8vw;
  text-shadow: 1px 1px black;
  opacity: 0;
  opacity:1;
}

.intro-statement {
  margin-top: -5px;
  text-shadow: 1px 1px black;
  font-size: 1.5vw;
  font-style: italic;
  opacity: 0;
  opacity:1;
}

.intro-statement p {
  width:100%;
}

.intro-image-holder {
  position: relative;
  height: 100%;
  opacity: 0;
  opacity:1;
  width: 35%;
}

.intro-image {
  position: absolute;
  height:100%;
  width:100%;
  background-image: url(/images/shaded-profile-pic.png);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center 100%;
}

.bitmoji-pic {
  display: none;
}

.pic {
  display: none;
}

@media only screen and (max-width: 1700px) {

  .intro-image-holder {
   width:40%
  }
}

@media only screen and (max-width: 1300px) {

  .intro-image-holder {
   width:45%
  }
}

@media only screen and (max-width: 1200px) {


  .home {
    overflow: hidden;
    height: auto;
  }

  .home-container {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .intro {
    width: 550px;
    color: #a47028;
    margin: 0;
    text-align: center;
    z-index: 1;
  }

  .intro-image-holder {
    display:none;
  }

  .bitmoji {
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
    border: 0.5px dashed;
    overflow: hidden;
    margin-bottom: -20px;
    opacity: 0;
    opacity:1;
  }
  .pic {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    bottom: -400px;
  }
  .pic img {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .intro {
    width: 100%;
  }

  .name {
    font-size: 30px;
  }

  .intro-statement {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .bitmoji {
    width: 200px;
    height: 200px;
  }
  .pic {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    bottom: -400px;
  }
  .pic img {
    width: 100%;
  }
  .intro {
    width: 90%;
  }

  .name {
    font-size: 25px;
  }

  .intro-statement {
    font-size: 16px;
    width: 95%;
  }
}

@media only screen and (max-width: 400px) {
  .intro-statement {
    font-size: 14px;
    width: 95%;
  }
}
