::-webkit-scrollbar {
  width: 6px;
  background: black;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: #a47028;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a47028;
}

.home {
  position: relative;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #a47028;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  opacity: 1;
}

.home-container {
  position: relative;
  width: 95%;
  border: dashed 0.5px solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
 height: 97.7vh;
  overflow: hidden;
}

.intro {
  width:550px;
  margin-left:150px;
  color: #a47028;
  top:55%;
}

.name {
  font-size:35px;
  text-shadow: 1px 1px black;
  opacity:0;

}

.intro-statement {
  margin-top:-5px;
  text-shadow: 1px 1px black;
  font-size: 24px;
  font-style: italic;
  opacity:0;
}

.intro-image {
  margin-right:50px;
  margin-bottom: -90px;
  height: 90%;
  opacity: 0;
  width:500px;
}

.intro-image img {
  width: 100%;
}

.bitmoji-pic {
  display:none;
}

.pic {
  display:none;
}

@media only screen and (max-width: 1200px) {
  .home {
    overflow:hidden;
    height:auto;
  }

  .home-container {
    position: relative;
    width: 100vw;
    display:flex;
    flex-direction: column;
 
  }
  
  .intro {
    width:550px;
    color: #a47028;
    margin:0;
    text-align: center;
    z-index: 1;
  }
  
  .intro-image {
    display:none;
  }

  .bitmoji {
    position: relative;
    display:block;
    width:300px;
    height:300px;;
    border:.5px dashed;
    overflow: hidden;
    margin-bottom:-20px;
    opacity:0;

  }
  .pic {
    display:block;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width:200px;
    bottom:-400px;;
  }
  .pic img{
    width:100%;
  }
}

@media only screen and (max-width: 900px) {
  .intro {
    width:100%;
  }
  
  .name {
    font-size:30px;
  }
  
  .intro-statement {
    font-size: 20px;
  }
  
}

@media only screen and (max-width: 600px) {


  .bitmoji {
    width:200px;
    height:200px;;

  }
  .pic {
    display:block;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width:150px;
    bottom:-400px;;
  }
  .pic img{
    width:100%;
  }
  .intro {
    width:90%;
  }

  .name {
    font-size:25px;
  }
  
  .intro-statement {
    font-size: 16px;
    width:95%;
  }
}

@media only screen and (max-width: 400px) {
  .intro-statement {
    font-size: 14px;
    width:95%;
  }
}
