::-webkit-scrollbar {
  width: 6px;
  background: black;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: #a47028;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a47028;
}

.projects {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #a47028;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inner-projects {
  position: relative;
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.demo-reels,
.web-work {
  border: dashed 0.5px #a47028;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-evenly;
  background: rgb(164, 112, 40, 0.2);
}

.inner-projects h2 {
  margin: 0;
  text-shadow: 2px 2px black;
}

.demo-reels {
  position: relative;
  width: 60%;
  height: 80vh;
}

/*------------- Web Projects Style Code--------------*/
.web-work {
  position: relative;
  width: 35%;
  height: 60vh;
  cursor: pointer;
}

.web-holder-1,
.web-holder-2,
.web-holder-3 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:30px;
}

.web-holder-2 {
  height: 50%;
}


.inner-record-gif {
  position: absolute;
  width:250px;
  transition: 1s;
}

.inner-record-gif:hover {
  width:260px;
}

.web-holder-3 h3 {
  font-size: 20px;
  transition: .5s;
  margin: 0;
  text-shadow: 1px 1px black;
  animation: blink 0.9s linear infinite;
}



.web-holder-3 h3:hover {
  animation: none;
  font-size: 22px;
  color: white;
}

@keyframes blink {
  0% {
    color: #a47028;
  }

  50% {
    color: white;
  }

  100% {
    color: #a47028;
  }
}

.rap-quiz-entry {
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: black;
  text-shadow: 1px 1px black;
  opacity:0;
  display:none;
  transition: .5s;
}

.rap-quiz-entry h2 {
  color: red;
  z-index: 1;;
}

.line-1 {
  width: 85%;
  margin-top: 5px;
  font-size: 14px !important;
  font-style: italic;
}

.line-2 {
  margin-top: -10px;
  font-size: 20px;
  color: white;
}

.line-3 {
  margin-top: -15px;
  font-size: 16px;
  font-style: italic;
}

.exit-rap-entry {
  margin-top: -20px;
  cursor: pointer;
  display: grid;
  place-items: center;
  background: transparent;
  text-align: center;
  border: 2px solid;
  width: 80px;
  height: 35px;
  text-shadow: 1px 1px black;
  font-size: 15px;
  color: #a47028;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.exit-rap-entry:hover {
  border: 3px solid #a47028;
  text-shadow: none;
  background: #a47028;
  color: black;
}

.rap-quiz-entry span {
  text-shadow: 1px 1px black;
  font-size: 12px;
}

/*------------- Web Projects Style Code--------------*/

/*------------- Video Slider Style Code--------------*/
.video-player {
  position: relative;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  box-shadow is from materialize css's website */
}

.clip-names {
  color: #a47028;
}

.container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#right-btn,
#left-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 40px;
  font-weight: 400;
  text-shadow: 0.5px 0.5px white;
  user-select: none;
}

#right-btn {
  right: -70px;
}

#left-btn {
  left: -70px;
}

#right-btn:hover,
#left-btn:hover {
  text-shadow: 1px 0px 0px 1px black;
  color: white;
}

/*------------- Video Slider Style Code--------------*/

/*-------------web responsive code -------------------*/

@media only screen and (max-width: 1200px) {
  .projects {
    height: auto;
  }
}

@media only screen and (max-width: 900px) {
  .projects {
    height: auto;
    width:100%;
  }

  .inner-projects {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .demo-reels,
  .web-work {
    width: 95%;
    margin: 3%;
    background:transparent;
    border:none;
  }

  .demo-reels {
    height: 500px;
  }

  .video-player {
    width:80%;
    height:100%;
  }


.container {
  position: relative;
  width: 100%;
  height: 350px;
}

#right-btn {
  right: -40px;
}

#left-btn {
  left: -40px;
}

  .web-work {
    height: 400px;
  }
}


@media only screen and (max-width: 500px) {
  .inner-record-gif {
    position: absolute;
    width:200px;
    transition: 1s;
  }
  
  .inner-record-gif:hover {
    width:210px;
  }
  
}

/*-------------web responsive code -------------------*/